<div class="profile-container">
  <% if current_user %>
    <div class="profile-card">
      <div class="profile-summary">
        <h2><%= username %></h2>
        <h3><%= first_name %> <%= last_name %></h3>
      </div>
      <div class="edit-profile">
        <%= link_to "🖉", edit_user_registration_path, class: "edit-profile-link" %>
      </div>
    </div>
  <% end %>
</div>
