<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>


    /* Add styles for the button */
    .btn {<style>
    /* Add some basic styles for the navigation bar */


  <div class="nav">
    <ul class="nav-item">
      <li>
        <header>
          <h1 style="color: #1f4c77; font-weight: bold;">CodeBuddy</h1>
        </header>
      </li>
    </ul>
    <ul class="nav-links">
      <li class="nav-item">
        <a href="#" style="color: black;">Jobs</a>
      </li>
      <li class="nav-item">
        <a href="#" style="color: black;">About us</a>
      </li>
      <li class="nav-item">
        <a href="#" style="color: black;">Blog</a>
      <li class="nav-item">
        <a href="#" style="color: black;">Contact us</a>
      </li>
      <li class="nav-item btn-container">
        <button class="login-btn">Login</button>
        <button class="btn">Join Now</button>
      </li>
    </ul>
</div>
