<div class="container">
  <div class="banner">
    <h3>Stop quitting.</h3>
    <p>Codum matches tech enthusiasts on all levels with an accountability partner to learn, to grow, and to build kick-ass projects together.</p>
    <p>Sign up now to get matched with a buddy by 7th of June!</p>
    <%= link_to "Sign up",  new_user_registration_path, class: "nav-link" %>
  </div>

  <h2>How it works</h2>
  <div class="cards">
    <div class="card1">
      <h4>Get matched for accountability</h4>
      <p>Create your profile with just a few clicks. Share your objectives, interests, and availability with us to help us find your best buddy. While you wait to get matched, get inspired by other learners’ diverse backgrounds and learning motivations and dive into the communities recommended resources.</p>
    </div>
    <div class="card2">
      <h4>Learn & build at your own pace</h4>
    </div>
    <div class="card3"></div>
  </div>

</div>
