.banner {
  height: 60vh;
  width: 95vw;
  text-align: center;
  padding: 0 auto;
  border-radius: 10px;
  margin: 0 auto;
  background: linear-gradient(rgb(187, 143, 230), rgba(162, 171, 186, 0.5));
}

.nav-items-right {
  text-align: right;
}
.rounded-button {
  border-radius: 20px;
  padding: 10px 20px;
}
.no-underline {
  text-decoration: none;
}

.purple-button {
  background-color: purple;
  color: white;
}

.purple-button:hover {
  background-color: #6B238E;
}
.nav-button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #6B238E;
}


.cards {
  display:flex;
  justify-content: space-around;
}

.card1 {
  height: 300px;
  width:600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15);
}

.card2 {
  height: 300px;
  width:600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15);
}

.card3 {
  height: 300px;
  width:600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15);
}
