body {
  background-color: rgb(242,238,245);
}
.profile-container {
  height: 75vh;
  width: calc(100vw - 200px);
  background-color: white;
  border-radius: 20px;
  margin-left: 130px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-profile-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 20px solid rgb(21,57,102)
}

.edit-profile-link:hover {
  color:rgb(87, 86, 86)
}

.profile-summary h2 {
  margin-bottom: 0;
  margin-left: 102px;
}

.profile-summary p {
  margin-top: 2px;
  margin-left: 102px
}

.profile-interest {
  display: flex;
  width: 500px;
  justify-content:space-around;
  margin-left: 50px;
}

.followers {
  display: flex;
  margin-left: 102px
}

.user-profile-interest p {
  height: 30px;
  width: 130px;
  border: 1px solid;
  border-radius: 20px;
  background-color: white;
  flex: 1;
  text-align: center;
  padding-top: .5em;
  margin: 2px;
}

.bio-city {
  margin-left: 102px
}
